# Default ignored files
/shelf/
/workspace.xml
*.class
# Datasource local storage ignored files
/../../../../../../:\Users\אור\IdeaProjects\ProjectWorkshop_A3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
